In [1]:
# Add the dependencies.
import pandas as pd
import os
import numpy as np

In [2]:
# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [3]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
# school_data_df

In [4]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
# student_data_df.head()

In [5]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [6]:
# Determine if there are any missing values in the student data.
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
# Determine if there are any missing values in the school data.
# school_data_df.isnull()

In [8]:
# Determine if there are any missing values in the student data.
# student_data_df.isnull()

In [9]:
# Determine if there are any missing values in the student data.
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [10]:
# Determine if there are not any missing values in the student data.
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [11]:
# Determine data types for the school DataFrame.
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [12]:
# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [13]:
# Add each prefixes and suffixes to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [14]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [15]:
# Copy student dataframe to to-be cleaned dataframe
student_data_nan_df = student_data_df.copy()

In [16]:
# Print reading score where Thomas High School and 9th
# student_data_THS_df = student_data_df['reading_score'][(student_data_df['school_name'] == 'Thomas High School') & (student_data_df['grade'] == '9th')]
# student_data_THS_df

In [17]:
# Locate where Thomas High School and 9th, then set reading/math score equal to NaN
student_data_nan_df.loc[(student_data_nan_df['school_name'] == 'Thomas High School') & (student_data_nan_df['grade'] == '9th'), 'reading_score'] = np.nan

student_data_nan_df.loc[(student_data_nan_df['school_name'] == 'Thomas High School') & (student_data_nan_df['grade'] == '9th'), 'math_score'] = np.nan
# student_data_nan_df

In [18]:
# Using nan df: Combine the data into a single dataset.
school_data_complete_nan_df = pd.merge(student_data_nan_df, school_data_df, on=["school_name", "school_name"])
# school_data_complete_nan_df.tail()

In [19]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
# school_data_complete_df.tail()

In [20]:
# Get the total number of students.
student_count = school_data_complete_df["Student ID"].count()
# student_count

In [21]:
# Get the total number of 9th grade students at THS.
student_count_THS_9th = student_data_df['reading_score'][(student_data_df['school_name'] == 'Thomas High School') & (student_data_df['grade'] == '9th')].count()


# Student count without 9th graders at THS
student_count_nan = student_count - student_count_THS_9th
# student_count_nan

In [22]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
# school_count

In [23]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2
# len(school_count_2)

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [24]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
# total_budget

In [25]:
# Calculate the average reading scores.
average_reading_score = school_data_complete_df["reading_score"].mean()
# average_reading_score

In [26]:
# Calculate the average reading scores with NaNs.
average_reading_score_nan = school_data_complete_nan_df["reading_score"].mean()
# average_reading_score_nan

In [27]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
# average_math_score

In [28]:
# Calculate the average math score with NaNs.
average_math_score_nan = school_data_complete_nan_df["math_score"].mean()
# average_math_score_nan

In [29]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
# len(passing_math)

In [30]:
# Using NaN df: Get all the students who are passing math in a new DataFrame.
passing_math_nan = school_data_complete_nan_df[school_data_complete_nan_df["math_score"] >= 70]
# len(passing_math_nan)

In [31]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
# len(passing_reading)

In [32]:
# Using NaN df: Get all the students that are passing reading in a new DataFrame.
passing_reading_nan = school_data_complete_nan_df[school_data_complete_nan_df["reading_score"] >= 70]
# len(passing_reading_nan)

In [33]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [34]:
# Using NaN df: Calculate the number of students passing math.
passing_math_count_nan = passing_math_nan["student_name"].count()

# Using NaN df: Calculate the number of students passing reading.
passing_reading_count_nan = passing_reading_nan["student_name"].count()

In [35]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100
# passing_reading_percentage

In [36]:
# Using NaN df: Calculate the percent that passed math.
passing_math_percentage_nan = passing_math_count_nan / float(student_count_nan) * 100

# Using NaN df: Calculate the percent that passed reading.
passing_reading_percentage_nan = passing_reading_count_nan / float(student_count_nan) * 100
# passing_reading_percentage_nan

In [37]:
# Calculate the overall passing percentage.
# bad maths...
overall_passing_percentage = (passing_math_percentage + passing_reading_percentage ) / 2
# overall_passing_percentage

In [38]:
# Using NaN df: Calculate the overall passing percentage.
# bad maths...
overall_passing_percentage_nan = (passing_math_percentage_nan + passing_reading_percentage_nan ) / 2
# overall_passing_percentage_nan

In [39]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
# district_summary_df

In [40]:
# Using NaN df: Adding a list of values with keys to create a new DataFrame.
district_summary_df_nan = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count_nan,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score_nan,
          "Average Reading Score": average_reading_score_nan,
          "% Passing Math": passing_math_percentage_nan,
         "% Passing Reading": passing_reading_percentage_nan,
        "% Overall Passing": overall_passing_percentage_nan}])
# district_summary_df_nan

In [41]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

# district_summary_df["Total Students"]

In [42]:
# Using NaN df: Format the "Total Students" to have the comma for a thousands separator.
district_summary_df_nan["Total Students"] = district_summary_df_nan["Total Students"].map("{:,}".format)

# district_summary_df_nan["Total Students"]

In [43]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# district_summary_df["Total Budget"]

In [44]:
# Using NaN df: Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df_nan["Total Budget"] = district_summary_df_nan["Total Budget"].map("${:,.2f}".format)

# district_summary_df_nan["Total Budget"]

In [45]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [46]:
# Using NaN df: Format the columns.
district_summary_df_nan["Average Math Score"] = district_summary_df_nan["Average Math Score"].map("{:.1f}".format)

district_summary_df_nan["Average Reading Score"] = district_summary_df_nan["Average Reading Score"].map("{:.1f}".format)

district_summary_df_nan["% Passing Math"] = district_summary_df_nan["% Passing Math"].map("{:.0f}".format)

district_summary_df_nan["% Passing Reading"] = district_summary_df_nan["% Passing Reading"].map("{:.0f}".format)

district_summary_df_nan["% Overall Passing"] = district_summary_df_nan["% Overall Passing"].map("{:.0f}".format)

In [47]:
# District Summary with THS 9th grade
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,80

In [48]:
# District Summary without THS 9th grade
district_summary_df_nan

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"38,709","$24,649,428.00",78.9,81.9,75,86,80

In [49]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
# per_school_types

In [50]:
# Add the per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)
# df

In [51]:
# Calculate the total student count.
# per_school_counts = school_data_df.set_index(["school_name"])["size"]
# per_school_counts

In [52]:
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()
# per_school_counts

In [53]:
# Using nan df: Calculate the total student count.
per_school_counts_nan = school_data_complete_nan_df["school_name"].value_counts()
per_school_counts_nan["Thomas High School"] -= student_count_THS_9th 
# per_school_counts_nan

In [54]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
# per_school_budget

In [55]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
# per_school_capita

In [56]:
# Using nan df: Calculate the per capita spending.

# per_school_capita = per_school_budget / per_school_counts_nan
# per_school_capita

In [57]:
# Calculate the math scores.
student_school_name = student_data_df.set_index(["school_name"])["math_score"]
# student_school_name

In [58]:
# Using NaN df: Calculate the avg math scores.
student_school_name_nan = student_data_nan_df.set_index(["school_name"])["math_score"]
THS_math_mean = student_school_name_nan["Thomas High School"].mean()
THS_math_mean

# student_school_name_nan

83.35093696763202

In [59]:
# Using NaN df: Calculate the avg reading scores.
student_school_name_nan = student_data_nan_df.set_index(["school_name"])["reading_score"]
THS_reading_mean = student_school_name_nan["Thomas High School"].mean()
THS_reading_mean
# student_school_name_nan

83.89608177172062

In [60]:
# Calculate the average math scores.
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
# per_school_averages

In [61]:
# Using NaN df: Calculate the average math scores.
per_school_averages_nan = school_data_complete_nan_df.groupby(["school_name"]).mean()
# per_school_averages_nan

In [62]:
# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [63]:
# Using NaN df: Calculate the average test scores.
per_school_math_nan = school_data_complete_nan_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading_nan = school_data_complete_nan_df.groupby(["school_name"]).mean()["reading_score"]

In [64]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [65]:
# Using NaN df: Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math_nan = school_data_complete_nan_df[(school_data_complete_nan_df["math_score"] >= 70)]

per_school_passing_reading_nan = school_data_complete_nan_df[(school_data_complete_nan_df["reading_score"] >= 70)]

In [66]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [67]:
# Using NaN df: Calculate the number of students passing math and passing reading by school.
per_school_passing_math_nan = per_school_passing_math_nan.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading_nan = per_school_passing_reading_nan.groupby(["school_name"]).count()["student_name"]

In [68]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [69]:
# Using NaN df: Calculate the percentage of passing math and reading scores per school.
per_school_passing_math_nan = per_school_passing_math_nan / per_school_counts_nan * 100

per_school_passing_reading_nan = per_school_passing_reading_nan / per_school_counts_nan * 100

In [70]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = (per_school_passing_math + per_school_passing_reading ) / 2

In [71]:
# Using NaN df: Calculate the overall passing percentage.
per_overall_passing_percentage_nan = (per_school_passing_math_nan + per_school_passing_reading_nan ) / 2

In [72]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
# per_school_summary_df.tail()

In [73]:
# Using NaN df: Adding a list of values with keys to create a new DataFrame.

per_school_summary_df_nan = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts_nan,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math_nan,
           "Average Reading Score": per_school_reading_nan,
           "% Passing Math": per_school_passing_math_nan,
           "% Passing Reading": per_school_passing_reading_nan,
           "% Overall Passing": per_overall_passing_percentage_nan})
# per_school_summary_df_nan.tail()

In [74]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display Schools Summary with THS 9th grade
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668

In [75]:
# Using NaN df: Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df_nan["Total School Budget"] = per_school_summary_df_nan["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df_nan["Per Student Budget"] = per_school_summary_df_nan["Per Student Budget"].map("${:,.2f}".format)

# Display Schools Summary without THS 9th grade
per_school_summary_df_nan.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668

In [76]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

# Display High Performing Schools with THS 9th grade
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

In [77]:
# Using NaN df: Sort and show top five schools.
top_schools_nan = per_school_summary_df_nan.sort_values(["% Overall Passing"], ascending=False)

# Display High Performing Schools without THS 9th grade
top_schools_nan.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679
Thomas High School,Charter,1174,"$1,043,130.00",$638.00,83.350937,83.896082,93.185690,97.018739,95.102215

In [78]:
# Sort and show bottom five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

# Display Low Performing Schools with THS 9th grade
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

In [79]:
# Using NaN df: Sort and show bottom five schools.
bottom_schools_nan = per_school_summary_df_nan.sort_values(["% Overall Passing"], ascending=True)

# Display Low Performing Schools without THS 9th grade
bottom_schools_nan.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

In [80]:
# Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [81]:
# Using NaN df: Create a grade level DataFrames.
ninth_graders_nan = school_data_complete_nan_df[(school_data_complete_nan_df["grade"] == "9th")]

tenth_graders_nan = school_data_complete_nan_df[(school_data_complete_nan_df["grade"] == "10th")]

eleventh_graders_nan = school_data_complete_nan_df[(school_data_complete_nan_df["grade"] == "11th")]

twelfth_graders_nan = school_data_complete_nan_df[(school_data_complete_nan_df["grade"] == "12th")]

In [82]:
# Group each school Series by the school name for the average math score.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [83]:
# Using NaN df: Group each school Series by the school name for the average math score.
ninth_grade_math_scores_nan = ninth_graders_nan.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores_nan = tenth_graders_nan.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores_nan = eleventh_graders_nan.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores_nan = twelfth_graders_nan.groupby(["school_name"]).mean()["math_score"]

In [84]:
# Group each school Series by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [85]:
# Using NaN df: Group each school Series by the school name for the average reading score.
ninth_grade_reading_scores_nan = ninth_graders_nan.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores_nan = tenth_graders_nan.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores_nan = eleventh_graders_nan.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores_nan = twelfth_graders_nan.groupby(["school_name"]).mean()["reading_score"]

In [86]:
print(ninth_grade_reading_scores)

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [87]:
# Using NaN df: 
print(ninth_grade_reading_scores_nan)

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School             NaN
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [88]:
# Combine each Series for average math scores by school into single DataFrame.
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

# math_scores_by_grade.tail()

In [89]:
# Using NaN df: Combine each Series for average math scores by school into single DataFrame.
math_scores_by_grade_nan = pd.DataFrame({
               "9th": ninth_grade_math_scores_nan,
               "10th": tenth_grade_math_scores_nan,
               "11th": eleventh_grade_math_scores_nan,
               "12th": twelfth_grade_math_scores_nan})

# math_scores_by_grade_nan.tail()

In [90]:
# Combine each Series for average reading scores by school into single DataFrame.
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

# reading_scores_by_grade.tail()

In [91]:
# Using NaN df: Combine each Series for average reading scores by school into single DataFrame.
reading_scores_by_grade_nan = pd.DataFrame({
              "9th": ninth_grade_reading_scores_nan,
              "10th": tenth_grade_reading_scores_nan,
              "11th": eleventh_grade_reading_scores_nan,
              "12th": twelfth_grade_reading_scores_nan})

# reading_scores_by_grade_nan.tail()

In [92]:
# Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

# Make sure the columns are in the correct order.
math_scores_by_grade = math_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

# Remove the index name.
math_scores_by_grade.index.name = None

# Display Math Scores by Grade with THS 9th grade
math_scores_by_grade.tail()

                        9th  10th  11th  12th
Rodriguez High School  76.9  76.6  76.4  77.7
Shelton High School    83.4  82.9  83.4  83.8
Thomas High School     83.6  83.1  83.5  83.5
Wilson High School     83.1  83.7  83.2  83.0
Wright High School     83.3  84.0  83.8  83.6

In [93]:
# Using NaN df: Format each grade column.
#math_scores_by_grade_nan["9th"] = math_scores_by_grade_nan["9th"].map("{:.1f}".format)

math_scores_by_grade_nan["10th"] = math_scores_by_grade_nan["10th"].map("{:.1f}".format)

math_scores_by_grade_nan["11th"] = math_scores_by_grade_nan["11th"].map("{:.1f}".format)

math_scores_by_grade_nan["12th"] = math_scores_by_grade_nan["12th"].map("{:.1f}".format)

# Make sure the columns are in the correct order.
math_scores_by_grade_nan = math_scores_by_grade_nan[
                 ["9th", "10th", "11th", "12th"]]

# Remove the index name.
math_scores_by_grade_nan.index.name = None

# Display Math Scores by Grade without THS 9th grade
math_scores_by_grade_nan.tail()

                             9th  10th  11th  12th
Rodriguez High School  76.859966  76.6  76.4  77.7
Shelton High School    83.420755  82.9  83.4  83.8
Thomas High School           NaN  83.1  83.5  83.5
Wilson High School     83.085578  83.7  83.2  83.0
Wright High School     83.264706  84.0  83.8  83.6

In [94]:
# Format each grade column.
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

# Make sure the columns are in the correct order.
reading_scores_by_grade = reading_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

# Remove the index name.
reading_scores_by_grade.index.name = None

# Display Scores by Grade: with THS 9th grade
reading_scores_by_grade.tail()

                        9th  10th  11th  12th
Rodriguez High School  81.0  80.6  80.9  80.4
Shelton High School    84.1  83.4  84.4  82.8
Thomas High School     83.7  84.3  83.6  83.8
Wilson High School     83.9  84.0  83.8  84.3
Wright High School     83.8  83.8  84.2  84.1

In [95]:
# Using NaN df: Format each grade column.
# reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade_nan["10th"] = reading_scores_by_grade_nan["10th"].map("{:,.1f}".format)

reading_scores_by_grade_nan["11th"] = reading_scores_by_grade_nan["11th"].map("{:,.1f}".format)

reading_scores_by_grade_nan["12th"] = reading_scores_by_grade_nan["12th"].map("{:,.1f}".format)

# Make sure the columns are in the correct order.
reading_scores_by_grade_nan = reading_scores_by_grade_nan[
                 ["9th", "10th", "11th", "12th"]]

# Remove the index name.
reading_scores_by_grade_nan.index.name = None

# Display Scores by Grade: without THS 9th grade
reading_scores_by_grade_nan.tail()

                             9th  10th  11th  12th
Rodriguez High School  80.993127  80.6  80.9  80.4
Shelton High School    84.122642  83.4  84.4  82.8
Thomas High School           NaN  84.3  83.6  83.8
Wilson High School     83.939778  84.0  83.8  84.3
Wright High School     83.833333  83.8  84.2  84.1

In [96]:
# Get the descriptive statistics for the per_school_capita.
per_school_capita.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [97]:
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 615, 645, 675]
pd.cut(per_school_capita, spending_bins)

Bailey High School       (615, 645]
Cabrera High School        (0, 585]
Figueroa High School     (615, 645]
Ford High School         (615, 645]
Griffin High School      (615, 645]
Hernandez High School    (645, 675]
Holden High School         (0, 585]
Huang High School        (645, 675]
Johnson High School      (645, 675]
Pena High School         (585, 615]
Rodriguez High School    (615, 645]
Shelton High School      (585, 615]
Thomas High School       (615, 645]
Wilson High School         (0, 585]
Wright High School         (0, 585]
dtype: category
Categories (4, interval[int64]): [(0, 585] < (585, 615] < (615, 645] < (645, 675]]

In [98]:
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64

In [99]:
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [100]:
# Categorize spending based on the bins.
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

# per_school_summary_df

In [101]:
# Using NaN df: Categorize spending based on the bins.
per_school_summary_df_nan["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

# per_school_summary_df_nan

In [102]:
# Calculate averages for the desired columns.
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

In [103]:
# Using NaN df: Calculate averages for the desired columns.
spending_math_scores_nan = per_school_summary_df_nan.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores_nan = per_school_summary_df_nan.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math_nan = per_school_summary_df_nan.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading_nan = per_school_summary_df_nan.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

In [104]:
# Calculate the overall passing percentage.
overall_passing_percentage = (spending_passing_math + spending_passing_reading) / 2

In [105]:
# Using NaN df: Calculate the overall passing percentage.
overall_passing_percentage_nan = (spending_passing_math_nan + spending_passing_reading_nan) / 2

In [106]:
# Assemble into DataFrame.
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_percentage})

# spending_summary_df

In [107]:
# Using NaN df: Assemble into DataFrame.
spending_summary_df_nan = pd.DataFrame({
          "Average Math Score": spending_math_scores_nan,
          "Average Reading Score": spending_reading_scores_nan,
          "% Passing Math": spending_passing_math_nan,
          "% Passing Reading": spending_passing_reading_nan,
          "% Overall Passing": overall_passing_percentage_nan})

# spending_summary_df_nan

In [108]:
# Formatting
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

# Display Scores by School Spending per Capita: with THS 9th grade
spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,83.9,93,97,95
$585-629,81.9,83.2,87,93,90
$630-644,78.5,81.6,73,84,79
$645-675,77.0,81.0,66,81,74

In [109]:
# Using NaN df: Formatting
spending_summary_df_nan["Average Math Score"] = spending_summary_df_nan["Average Math Score"].map("{:.1f}".format)

spending_summary_df_nan["Average Reading Score"] = spending_summary_df_nan["Average Reading Score"].map("{:.1f}".format)

spending_summary_df_nan["% Passing Math"] = spending_summary_df_nan["% Passing Math"].map("{:.0f}".format)

spending_summary_df_nan["% Passing Reading"] = spending_summary_df_nan["% Passing Reading"].map("{:.0f}".format)

spending_summary_df_nan["% Overall Passing"] = spending_summary_df_nan["% Overall Passing"].map("{:.0f}".format)

# Display Scores by School Spending per Capita: without THS 9th grade
spending_summary_df_nan

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,83.9,93,97,95
$585-629,81.9,83.2,87,93,90
$630-644,78.5,81.6,73,84,79
$645-675,77.0,81.0,66,81,74

In [110]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [111]:
# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

# per_school_summary_df.tail()

In [112]:
# Using NaN df: Categorize spending based on the bins.
per_school_summary_df_nan["School Size"] = pd.cut(per_school_summary_df_nan["Total Students"], size_bins, labels=group_names)

# per_school_summary_df_nan.tail()

In [113]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = (size_passing_math + size_passing_reading) / 2

In [114]:
# Using NaN df: Calculate averages for the desired columns.
size_math_scores_nan = per_school_summary_df_nan.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores_nan = per_school_summary_df_nan.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math_nan = per_school_summary_df_nan.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading_nan = per_school_summary_df_nan.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing_nan = (size_passing_math_nan + size_passing_reading_nan) / 2

In [115]:
# Assemble into DataFrame.
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

# size_summary_df

In [116]:
# Using NaN df: Assemble into DataFrame.
size_summary_df_nan = pd.DataFrame({
          "Average Math Score" : size_math_scores_nan,
          "Average Reading Score": size_reading_scores_nan,
          "% Passing Math": size_passing_math_nan,
          "% Passing Reading": size_passing_reading_nan,
          "% Overall Passing": size_overall_passing_nan})

# size_summary_df_nan

In [117]:
# Formatting.
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

# Display Scores by School Size: with THS 9th grade
size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8,83.9,94,96,95
Medium (1000-2000),83.4,83.9,94,97,95
Large (2000-5000),77.7,81.3,70,83,76

In [118]:
# Using NaN df: Formatting.
size_summary_df_nan["Average Math Score"] = size_summary_df_nan["Average Math Score"].map("{:.1f}".format)

size_summary_df_nan["Average Reading Score"] = size_summary_df_nan["Average Reading Score"].map("{:.1f}".format)

size_summary_df_nan["% Passing Math"] = size_summary_df_nan["% Passing Math"].map("{:.0f}".format)

size_summary_df_nan["% Passing Reading"] = size_summary_df_nan["% Passing Reading"].map("{:.0f}".format)

size_summary_df_nan["% Overall Passing"] = size_summary_df_nan["% Overall Passing"].map("{:.0f}".format)

# Display Scores by School Size: without THS 9th grade
size_summary_df_nan

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8,83.9,94,96,95
Medium (1000-2000),83.4,83.9,94,97,95
Large (2000-5000),77.7,81.3,70,83,76

In [119]:
# Calculate averages for the desired columns. 
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = (type_passing_math + type_passing_reading) / 2

In [120]:
# Using NaN df: Calculate averages for the desired columns. 
type_math_scores_nan = per_school_summary_df_nan.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores_nan = per_school_summary_df_nan.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math_nan = per_school_summary_df_nan.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading_nan = per_school_summary_df_nan.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing_nan = (type_passing_math_nan + type_passing_reading_nan) / 2

In [121]:
# Assemble into DataFrame.
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

# type_summary_df

In [122]:
# Using NaN df: Assemble into DataFrame.
type_summary_df_nan = pd.DataFrame({
          "Average Math Score" : type_math_scores_nan,
          "Average Reading Score": type_reading_scores_nan,
          "% Passing Math": type_passing_math_nan,
          "% Passing Reading": type_passing_reading_nan,
          "% Overall Passing": type_overall_passing_nan})

# type_summary_df_nan

In [123]:
# Formatting
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

# Display Scores by School Type: with THS 9th grade
type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5,83.9,94,97,95
District,77.0,81.0,67,81,74

In [124]:
# Using NaN df: Formatting
type_summary_df_nan["Average Math Score"] = type_summary_df_nan["Average Math Score"].map("{:.1f}".format)

type_summary_df_nan["Average Reading Score"] = type_summary_df_nan["Average Reading Score"].map("{:.1f}".format)

type_summary_df_nan["% Passing Math"] = type_summary_df_nan["% Passing Math"].map("{:.0f}".format)

type_summary_df_nan["% Passing Reading"] = type_summary_df_nan["% Passing Reading"].map("{:.0f}".format)

type_summary_df_nan["% Overall Passing"] = type_summary_df_nan["% Overall Passing"].map("{:.0f}".format)

# Display Scores by School Type: without THS 9th grade
type_summary_df_nan

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5,83.9,94,97,95
District,77.0,81.0,67,81,74