In [14]:

import pandas as pd
import os

In [37]:

file_to_load = "ufoSightings.csv"

ufoDF = pd.read_csv(file_to_load)

print(file_to_load)

ufoSightings.csv

In [19]:
cleanUFODF = ufoDF.dropna(how='any')

In [20]:
cleanUFODF['duration (seconds)'].apply(type)

0          <class 'str'>
3          <class 'str'>
4          <class 'str'>
5          <class 'str'>
7          <class 'str'>
              ...
80327    <class 'float'>
80328    <class 'float'>
80329    <class 'float'>
80330    <class 'float'>
80331    <class 'float'>
Name: duration (seconds), Length: 66516, dtype: object

In [21]:
castDurationDF = cleanUFODF.copy()
castDurationDF["duration (seconds)"] = castDurationDF.loc[:, "duration (seconds)"].astype(float)
castDurationDF["duration (seconds)"].apply(type)

0        <class 'float'>
3        <class 'float'>
4        <class 'float'>
5        <class 'float'>
7        <class 'float'>
              ...
80327    <class 'float'>
80328    <class 'float'>
80329    <class 'float'>
80330    <class 'float'>
80331    <class 'float'>
Name: duration (seconds), Length: 66516, dtype: object

In [26]:
usaOnlySightings = castDurationDF.loc[castDurationDF["country"] == "us", :]
print(len(usaOnlySightings))

63553

In [27]:
#value_counts: count qty of each unique entry
stateCounts = usaOnlySightings["state"].value_counts()

In [31]:
groupByState = usaOnlySightings.groupby('state')
groupByStateValues = groupByState.count()
print(groupByStateValues)

       datetime  city  country  shape  duration (seconds)  \
state
ak          311   311      311    311                 311
al          629   629      629    629                 629
ar          578   578      578    578                 578
az         2362  2362     2362   2362                2362
ca         8683  8683     8683   8683                8683
co         1385  1385     1385   1385                1385
ct          865   865      865    865                 865
dc            7     7        7      7                   7
de          165   165      165    165                 165
fl         3754  3754     3754   3754                3754
ga         1235  1235     1235   1235                1235
hi          257   257      257    257                 257
ia          669   669      669    669                 669
id          508   508      508    508                 508
il         2447  2447     2447   2447                2447
in         1268  1268     1268   1268                1268
ks          599   599      599    599                 599
ky          843   843      843    843                 843
la          547   547      547    547                 547
ma         1238  1238     1238   1238                1238
md          818   818      818    818                 818
me          544   544      544    544                 544
mi         1781  1781     1781   1781                1781
mn          996   996      996    996                 996
mo         1431  1431     1431   1431                1431
ms          368   368      368    368                 368
mt          460   460      460    460                 460
nc         1722  1722     1722   1722                1722
nd          123   123      123    123                 123
ne          373   373      373    373                 373
nh          482   482      482    482                 482
nj         1236  1236     1236   1236                1236
nm          693   693      693    693                 693
nv          778   778      778    778                 778
ny         2915  2915     2915   2915                2915
oh         2251  2251     2251   2251                2251
ok          714   714      714    714                 714
or         1667  1667     1667   1667                1667
pa         2319  2319     2319   2319                2319
pr           24    24       24     24                  24
ri          224   224      224    224                 224
sc          986   986      986    986                 986
sd          177   177      177    177                 177
tn         1091  1091     1091   1091                1091
tx         3398  3398     3398   3398                3398
ut          611   611      611    611                 611
va         1248  1248     1248   1248                1248
vt          254   254      254    254                 254
wa         3707  3707     3707   3707                3707
wi         1205  1205     1205   1205                1205
wv          438   438      438    438                 438
wy          169   169      169    169                 169

       duration (hours/min)  comments  date posted  latitude  longitude
state
ak                      311       311          311       311         311
al                      629       629          629       629         629
ar                      578       578          578       578         578
az                     2362      2362         2362      2362        2362
ca                     8683      8683         8683      8683        8683
co                     1385      1385         1385      1385        1385
ct                      865       865          865       865         865
dc                        7         7            7         7           7
de                      165       165          165       165         165
fl                     3754      3754         3754      3754        3754
ga                     1235      1235         1235      1235        1235
hi                      257       257          257       257         257
ia                      669       669          669       669         669
id                      508       508          508       508         508
il                     2447      2447         2447      2447        2447
in                     1268      1268         1268      1268        1268
ks                      599       599          599       599         599
ky                      843       843          843       843         843
la                      547       547          547       547         547
ma                     1238      1238         1238      1238        1238
md                      818       818          818       818         818
me                      544       544          544       544         544
mi                     1781      1781         1781      1781        1781
mn                      996       996          996       996         996
mo                     1431      1431         1431      1431        1431
ms                      368       368          368       368         368
mt                      460       460          460       460         460
nc                     1722      1722         1722      1722        1722
nd                      123       123          123       123         123
ne                      373       373          373       373         373
nh                      482       482          482       482         482
nj                     1236      1236         1236      1236        1236
nm                      693       693          693       693         693
nv                      778       778          778       778         778
ny                     2915      2915         2915      2915        2915
oh                     2251      2251         2251      2251        2251
ok                      714       714          714       714         714
or                     1667      1667         1667      1667        1667
pa                     2319      2319         2319      2319        2319
pr                       24        24           24        24          24
ri                      224       224          224       224         224
sc                      986       986          986       986         986
sd                      177       177          177       177         177
tn                     1091      1091         1091      1091        1091
tx                     3398      3398         3398      3398        3398
ut                      611       611          611       611         611
va                     1248      1248         1248      1248        1248
vt                      254       254          254       254         254
wa                     3707      3707         3707      3707        3707
wi                     1205      1205         1205      1205        1205
wv                      438       438          438       438         438
wy                      169       169          169       169         169

In [32]:
groupByStateDurationSumDF = groupByState["duration (seconds)"].sum()
groupByStateDurationAVGDF = groupByState["duration (seconds)"].mean()

In [38]:

file_to_load_poke = "Pokemon.csv"

pokeDF = pd.read_csv(file_to_load_poke)

print(file_to_load_poke)

Pokemon.csv

In [42]:
#average stat grouped by type 1

groupByType = pokeDF.groupby("Type 1")

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021F946DD978>

In [43]:
pokeDF.head(100)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,88,Grimer,Poison,NaN,325,80,80,50,40,50,25,1,False
96,89,Muk,Poison,NaN,500,105,105,75,65,100,50,1,False
97,90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
98,91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
99,92,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False

In [47]:
groupByTypeAvgHP = groupByType["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"].mean() 
groupByTypeAvgHP.head(100)

                 HP      Attack     Defense    Sp. Atk    Sp. Def       Speed
Type 1
Bug       56.884058   70.971014   70.724638  53.869565  64.797101   61.681159
Dark      66.806452   88.387097   70.225806  74.645161  69.516129   76.161290
Dragon    83.312500  112.125000   86.375000  96.843750  88.843750   83.031250
Electric  59.795455   69.090909   66.295455  90.022727  73.704545   84.500000
Fairy     74.117647   61.529412   65.705882  78.529412  84.705882   48.588235
Fighting  69.851852   96.777778   65.925926  53.111111  64.703704   66.074074
Fire      69.903846   84.769231   67.769231  88.980769  72.211538   74.442308
Flying    70.750000   78.750000   66.250000  94.250000  72.500000  102.500000
Ghost     64.437500   73.781250   81.187500  79.343750  76.468750   64.343750
Grass     67.271429   73.214286   70.800000  77.500000  70.428571   61.928571
Ground    73.781250   95.750000   84.843750  56.468750  62.750000   63.906250
Ice       72.000000   72.750000   71.416667  77.541667  76.291667   63.458333
Normal    77.275510   73.469388   59.846939  55.816327  63.724490   71.551020
Poison    67.250000   74.678571   68.821429  60.428571  64.392857   63.571429
Psychic   70.631579   71.456140   67.684211  98.403509  86.280702   81.491228
Rock      65.363636   92.863636  100.795455  63.340909  75.477273   55.909091
Steel     65.222222   92.703704  126.370370  67.518519  80.629630   55.259259
Water     72.062500   74.151786   72.946429  74.812500  70.517857   65.964286

In [53]:
pokeHeader = groupByType[0]
pokeHeader.head(1)

KeyError: 'Column not found: 0'